# dependencies
/node_modules
/.pnpm-store

# next.js build output
/.next/
/out/

# production output
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel & temporary files
.vercel
*.tsbuildinfo

# archives
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db
